name: Terraform test, plan and apply
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ARM_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
  ARM_CLIENT_SECRET: ${{secrets.AZURE_CLIENT_SECRET}}
  ARM_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
  ARM_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
  TF_VAR_subscription_id: ${{secrets.AZURE_SUBSCRIPTION_ID}}
  TF_VAR_sql_admin_login: ${{secrets.SQL_ADMIN_LOGIN}}
  TF_VAR_sql_admin_password: ${{secrets.SQL_ADMIN_PASSWORD}}
jobs:
  terraform-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform  validate

  terraform-plan:
    runs-on: ubuntu-latest
    needs: [ terraform-test ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform plan
        run: terraform plan -out=tfplan

      - name: Save terraform plan to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan
#  terraform-apply:
#    runs-on: ubuntu-latest
#    needs: [terraform-plan]
#    steps:
#        - name: Terraform apply
#          run: terraform apply -auto-approve tfplan
